<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="py-6 px-8 flex items-center justify-between bg-teal-700">
      <h1 class="text-2xl text-white font-bold">ProjectNest</h1>
      <div class="space-x-4">
        <a
          href="{% url 'about' %}"
          class="text-white font-bold hover:text-yellow-300"
          >About</a
        >
        <a
          href="{% url 'login' %}"
          class="py-3 px-6 bg-blue-500 text-white font-bold rounded hover:bg-blue-400"
          >Log in</a
        >
        <a
          href="{% url 'signup' %}"
          class="py-3 px-6 bg-yellow-500 text-white font-bold rounded hover:bg-yellow-400"
          >Sign up</a
        >
      </div>
    </nav>
    <main class="py-6 px-8">
        <div class="max-w-xl mx-auto py-8 bg-teal-600 text-center rounded-lg shadow-md">
          <h1 class="text-3xl text-white font-bold mb-6">Sign Up</h1>
      
          <form class="space-y-4 px-8">
            <div class="text-left">
              <label class="text-white block mb-2">E-mail</label>
              <input type="email" class="w-full py-4 px-6 bg-slate-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white" required>
            </div>
      
            <div class="text-left">
              <label class="text-white block mb-2">Password</label>
              <input type="password" class="w-full py-4 px-6 bg-slate-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white" required>
            </div>
      
            <div class="text-left">
              <label class="text-white block mb-2">Repeat Password</label>
              <input type="password" class="w-full py-4 px-6 bg-slate-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white" required>
            </div>
      
            <button type="submit" class="mt-6 py-4 px-6 bg-white text-teal-600 font-bold rounded-lg shadow-md hover:bg-gray-200">Sign up</button>
          </form>
        </div>
      </main>
      
    
      
      
    
      
      
    <footer class="py-6 bg-teal-700 text-white">
        <div class="container mx-auto text-center">
          <p class="mb-4">© 2024 ProjectNest. All rights reserved.</p>
          <div class="flex justify-center space-x-6">
            <a href="#" class="hover:text-yellow-300">Privacy Policy</a>
            <a href="#" class="hover:text-yellow-300">Terms of Service</a>
            <a href="#" class="hover:text-yellow-300">Contact Us</a>
          </div>
          <p class="mt-4">Developed by Tileni</p>
        </div>
      </footer>
      
    </footer>
  </body>
</html>
